
.shape { display: none; }

.hero {
  background-repeat: no-repeat, no-repeat;

  background-position: bottom left, top right;
}

.hero-content { margin-bottom: 50px;
 }

.hero .section-subtitle {
    margin-bottom: 10px;
    font-weight: 1000;
    font-family: 'Comforter Brush', cursive;
    color: hsl(47, 98%, 50%);
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }

.hero-title {
  color: hsl(222, 46%, 17%);
  font-size: 3.4rem;
  font-size: 2.9vh;
  font-family: 'Abril Fatface', cursive;
  font-weight: 500;
  flex-direction: row;
  line-height: 1.2;
  max-width: 11ch;
  margin-bottom: 15px;
  white-space: nowrap;
}

.hero-text {
  color: hsl(223, 8%, 44%);
  font-size: 1.4rem;
  line-height: 1.7;
  margin-bottom: 15px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media (min-width: 768px) {

  .hero {
    min-height: 550px;
    display: grid;
    place-items: center;
  }

  .hero .container {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
}

@media (min-width: 992px) {

  .hero {
    position: relative;
    min-height: 680px;
  }

  .hero-title,
  .hero-text { margin-bottom: 35px; }

  .shape {
    display: block;
    position: absolute;
    animation: rotate 8s linear infinite;
  }

  .shape-1 {
    top: 60px;
    left: 47%;
  }

  .shape-2 {
    top: 20%;
    right: 50px;
    animation-delay: 0.25s;
  }

  .shape-3 {
    left: 40%;
    bottom: 20%;
    animation-delay: 0.5s;
  }

  @keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
  }

}


    